<%- include('common/header.ejs') %>
<div class="container empty-background">
  <nav class="nav">
    <p class="title">용계역 여행</p>
    <div class="sub-title">코스 리스트</div>
  </nav>
  <div class="content-container">
    <ul id="courseWrap" class="course-nav-ul">
      
    </ul>
    <div id="location-map">
      
    </div>
  </div>
</div>
<%- include('common/footer.ejs') %>
<!-- 카카오 지도 api -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d1608571f7db9b4c65d56e4d507f4ad"></script>
<script src="/js/course.js"></script>

</body>
</html>